---
resources:
  tb:network:MultiCidrVpc:
    vpc:
      cidr_block: 10.0.0.0/16
      subnets:
        us-east-1a:
          - 10.0.101.0/24
        us-east-1b:
          - 10.0.102.0/24
        us-east-1c:
          - 10.0.103.0/24
