---
name: merge-main

concurrency:
  group: merge-main
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  # Build and cache devcontainer for faster CI stages
  devcontainer-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and cache devcontainer
        uses: devcontainers/ci@v0.3
        with:
          # Change this to point to your image name
          imageName: ghcr.io/aatchison/pulumi/cached-devcontainer
          cacheFrom: ghcr.io/aatchison/pulumi/cached-devcontainer
          push: always
          # Change this to be your CI task/script
          runCmd: ./dev-setup.sh
          
  # Build the documentation and publish to Github Pages
  publish-docs:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4

      - name: Build docs
        uses: devcontainers/ci@v0.3
        with:
          cacheFrom: ghcr.io/aatchison/pulumi/cached-devcontainer
          runCmd: ./build-docs.sh

      - name: Archive docs
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs.tbz

      # This publishes the built docs into a special git branch which we tell Github to use with Github Pages
      - name: Publish docs
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages  # this is the default, but let's be explicit
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          force_orphan: true