name: 'validate' 

concurrency:
  group: validate
  cancel-in-progress: true

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  # This job detects which parts of the repo have been changed, setting future jobs up for conditional behavior.
  detect-changes:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    outputs:
      docs: ${{ steps.check.outputs.docs }}
      tb_pulumi: ${{ steps.check.outputs.tb_pulumi }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: check
        with:
          filters: |
            tb_pulumi:
              - 'tb_pulumi/**'
              - 'pyproject.toml'
            docs:
              - 'tb_pulumi/**.py'
              - 'docs/**'

  # Run Ruff against tb_pulumi. Fail on format errors or failed sanity checks.
  lint:
    needs: detect-changes
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    if: needs.detect-changes.outputs.tb_pulumi == 'true'
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4

      - name: Run Ruff linter
        run: ruff format --check --diff
          
  # Attempt to build the documentation. Fail if there are errors or warnings.
  build_docs:
    needs: detect-changes
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    if: needs.detect-changes.outputs.docs == 'true'
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
        
      - name: build docs
        run: ./build-docs.sh
          